.Label{
    display: inline-block;
    margin-bottom: 0.5rem;
    color: #767676;
    font-family: 'Lato', sans-serif;
}

.container {
    margin-top:50px;
    margin-bottom:180px;
}

.btn-primary1 {
    background-color:#767676;
    width:100%;
}

.col-md-6{
background-color:#E5E5E5;
}

p span {
    display: block;
    text-align: left;
}