body{
    margin:0;
}

.h1, h1 {
    font-family: 'Playfair Display', serif;
    color:#E92569;
}

img {
    max-width: 100%;
}

.Sc .fab {
    color:black;

}

.Sc .fab:hover {
    color:black;
    cursor: pointer;

}
