

.btn-outline-success {
    color: white;
    border-color: #E92569;
    background-color:#E92569;
}

.btn-outline-success:hover {
    color: white;
    border-color: #E92569;
    background-color:#E92569;
}

.navbar-light .navbar-brand {
    color:#E92569;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-style: italic;
}