
.btn-primary {
    background-color: #E92569;
    width: 70%;
    text-align: center;
    border-color:#E92569;

}

.btn-primary:hover {
    background-color: #E92569;
}

.card-deck{
    padding:20px;
}
